html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: orange;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
}

div {
    background-color: whitesmoke
}

#id_main_svg {
    width: 100vmin;
    height: 100vmin;
    background-color: white;
}